body {
    font-family: 'Arial', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
}

#clock {
    font-size: 2em;
    margin-bottom: 20px;
}

#chronometer, #timer {
    font-size: 1.5em;
    margin-bottom: 20px;
}

button {
    margin: 0 10px;
    padding: 5px 10px;
    font-size: 1em;
    cursor: pointer;
}
